.Experience {
    display: flex;
    flex-direction: column;    
    padding: 0 1rem;
}
.Experience-work {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    border-bottom: 1px solid rgba(200,200,200, .2);
}
.Experience-work:first-child{
    padding-top: 0;
}
.Experience-work-title {
    display: flex;
    align-items: baseline;
}

.Experience-work-duration {
    font-size: 1rem;
    margin: 0 1rem;
    opacity: .5;
    margin-left: 1rem;
}

.Experience-work-place {
    display: flex;
    align-items: center;
    margin: .5rem 0;
}

.Experience-work-place img {
    max-height: 45px;
    max-width: 100px;
    justify-self: center
}

.Experience-work-place div {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.Experience-work-tool{
    display: flex;
    align-items: center;
    margin: .5rem 1rem;
}

.Experience-work-tool img{
    width: 20px;
    margin-right: .5rem;
}